//Blue main colours
$skts-blaa: #14143c;
$skts-blaa-80: #434363;
$skts-blaa-60: #72728A;
$skts-blaa-40: #A1A1B1;
$skts-blaa-20: #D0D0D8;
$skts-blaa-hover-color: #464665;

//Sand colours
$skts-sand: #D1C5C3;
$skts-sand-50: #E8E2E1;

//Udviklings- og Forenklingsstyrelsen mellemblå
$skts-mellemblaa: #1C69B9;
$skts-mellemblaa-60: #77A5D5;
$skts-mellemblaa-30: #BBD2EA;

//Administrations- og Servicestyrelsen limegrøn
$skts-limegroen: #AAC800;
$skts-limegroen-60: #ccde66;
$skts-limegroen-30: #e5eeb2;

//Motorstyrelsen grøn
$skts-groen: #008139;
$skts-groen-60: #66B388;
$skts-groen-30: #B2D9C4;

//Toldstyrelsen gul
$skts-gul: #FFBB16;
$skts-gul-60: #FFD673;
$skts-gul-30: #FFEBB9;

//Vurderingsstyrelsen orange
$skts-orange: #FF620C;
$skts-orange-60: #FFA16D;
$skts-orange-30: #FFD0B6;

//Gældsstyrelsen rød
$skts-roed: #DF0515;
$skts-roed-60: #EC6973;
$skts-roed-30: #F5B4B9;

//Skattestyrelsen dueblå
$skts-dueblaa: #AECBDA;
$skts-dueblaa-60: #CEE0E9;
$skts-dueblaa-30: #E7EFF4;

//Skattestyrelsen highlight blå
$skts-highlightblaa: #2E99D9;
$skts-highlightblaa-60: #82C2E8;
$skts-highlightblaa-30: #C0E0F4;
