@charset "utf-8";

//Blue main colours
$skts-blaa: #14143c;
$skts-blaa-80: #434363;
$skts-blaa-60: #72728a;
$skts-blaa-40: #a1a1b1;
$skts-blaa-20: #d0d0d8;
$skts-blaa-hover-color: #464665;

//Sand colours
$skts-sand: #d1c5c3;
$skts-sand-50: #e8e2e1;

//Udviklings- og Forenklingsstyrelsen mellemblå
$skts-mellemblaa: #1c69b9;
$skts-mellemblaa-60: #77a5d5;
$skts-mellemblaa-30: #bbd2ea;

//Administrations- og Servicestyrelsen limegrøn
$skts-limegroen: #aac800;
$skts-limegroen-60: #ccde66;
$skts-limegroen-30: #e5eeb2;

//Motorstyrelsen grøn
$skts-groen: #008139;
$skts-groen-60: #66b388;
$skts-groen-30: #b2d9c4;

//Toldstyrelsen gul
$skts-gul: #ffbb16;
$skts-gul-60: #ffd673;
$skts-gul-30: #ffebb9;

//Vurderingsstyrelsen orange
$skts-orange: #ff620c;
$skts-orange-60: #ffa16d;
$skts-orange-30: #ffd0b6;

//Gældsstyrelsen rød
$skts-roed: #df0515;
$skts-roed-60: #ec6973;
$skts-roed-30: #f5b4b9;

//Skattestyrelsen dueblå
$skts-dueblaa: #aecbda;
$skts-dueblaa-60: #cee0e9;
$skts-dueblaa-30: #e7eff4;

//Skattestyrelsen highlight blå
$skts-highlightblaa: #2e99d9;
$skts-highlightblaa-60: #82c2e8;
$skts-highlightblaa-30: #c0e0f4;
